<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.docmall.mapper.AdOrderMapper">

	<sql id="criteria">
	
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
			  <trim prefix="OR">
			  	<choose>
			  		<when test="type == 'N'.toString()">
			  			PDT_NAME like '%' || #{keyword} || '%'
			  		</when>
			  		<when test="type == 'C'.toString()">
			  			PDT_COMPANY like '%' || #{keyword} || '%'
			  		</when>
			  	</choose>
			  </trim>
			</foreach>
		</trim>
	
	</sql>
	
	<select id="getOrderList" resultType="com.docmall.domain.OrderVO">
	
		<![CDATA[
		SELECT 
			RN, ODR_CODE, ODR_DATE, MEM_ID, ODR_NAME, ODR_TOTAL_PRICE  
		FROM (
	        SELECT 
	        	/*+ INDEX_DESC(ord PK_ORDER_CODE) */  
                ROWNUM RN, ORD.ODR_CODE, ORD.ODR_DATE, ORD.MEM_ID, ORD.ODR_NAME, ORD.ODR_TOTAL_PRICE
	        FROM 
	        	ORDER_TBL ord
            WHERE  
	    ]]>   	
	       	<include refid="criteria" />  
	    <![CDATA[    	
	       	ROWNUM <= #{pageNum} * #{amount}
 			)
		WHERE RN > (#{pageNum}-1) * #{amount}
		]]>
	
	</select>
	
	<select id="getOrderTotalCount" resultType="int">
	
		SELECT COUNT(*) FROM ORDER_TBL WHERE
		
		<include refid="criteria" />
		
		ODR_CODE > 0
	
	</select>

</mapper>